*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;

}
.menu-bar{

    display: flex;
    align-items: center;
    justify-content: space-between;
}