*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    background-color:#f0ecec;
    background-size: cover;


}
.menu-bar{

    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.10ms ease-in-out;
    
}
.menu-bar ul{
    font-size: 20;
    font: weight 500px; ;
    padding: 10px 22px;
}
.menu-bar a: hover{
    color: #4012e6;

}

article{
    padding: 100% ,13px;
}
.main-logo{

    display: flex;
    justify-content: space-between;
    align-items: center;
}